<!-- Page Content Wrapper-->
<div class="page-content-wrapper">
  <div class="container">
    <!-- Language Area-->
    <div class="language-area-wrapper py-3">
      <ul>
        <li>
          <input id="fa" type="radio" name="selector" checked="">
          <label for="fa">فارسی</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="eng" type="radio" name="selector">
          <label for="eng">انگلیسی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="Arabic" type="radio" name="selector">
          <label for="Arabic">عربی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="Azerbaijani" type="radio" name="selector">
          <label for="Azerbaijani">آذربایجانی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="Catalan" type="radio" name="selector">
          <label for="Catalan">کاتالان ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="Dutch" type="radio" name="selector">
          <label for="Dutch">هلندی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="French" type="radio" name="selector">
          <label for="French">فرانسوی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="German" type="radio" name="selector">
          <label for="German">آلمانی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="Hebrew" type="radio" name="selector">
          <label for="Hebrew">عبری ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="Hindi" type="radio" name="selector">
          <label for="Hindi">هندی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
        <li>
          <input disabled id="Italian" type="radio" name="selector">
          <label for="Italian">ایتالیایی ( درحال بروز رسانی)</label>
          <div class="check"></div>
        </li>
      </ul>
    </div>
  </div>
</div>