@{
    Layout=null;
}
@model ViewModels.AdminViewModel.User.Vm_User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="سوها- Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>تکنولوژی هوشمند نیکا</title>
    <!-- manifest meta -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/mobile/img/favicon180.png" sizes="180x180">
    <link rel="icon" href="~/mobile/img/favicon16.png" sizes="32x32" type="image/png">
    <link rel="icon" href="~/mobile/img/favicon16.png" sizes="16x16" type="image/png">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="~/mobile2/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="~/mobile2/manifest.json">   
    <link rel="stylesheet" href="~/mobile2/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="~/mobile2/manifest.json">
    @* <link href="~/mobile/css/style.css" rel="stylesheet"> *@

  </head>
  <body>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">بارگذاری...</div>
      </div>
    </div>
        @* <div class="container-fluid preloader h-100 loader-display" id="preloader">
            <div class="row h-100">
                <div class="align-self-center col">
                    <div class="logo-loading">
                        <div class="icon icon-100 mb-4 rounded-circle">
                            <img scr="~/mobile/img/fev.png" alt="" class="w-100">
                        </div>
                        <h4 class="text-default"> نیکاتک</h4>
                        <p class="text-secondary">تکنولوژی هوشمند نیکا</p>
                        <div class="loader-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    <!-- Login Wrapper Area-->
    <div class="login-wrapper d-flex align-items-center justify-content-center text-center">
      <!-- Background Shape-->
      <div class="background-shape"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
            <div class="">
                <img class="big-logo w-70" src="~/mobile/img/50.png" alt="">
            </div>
            <!-- Register Form-->
            <div class="register-form mt-5 px-4">
              <form action="/mobile/home/sendtoken" method="post" autocomplete="off">
                <div class="form-group text-left mb-4"><span> جهت ارسال پیامک تایید شماره موبایل خود را وارد کنید : </span>
                  <label for="Phone"><i class="lni lni-user"></i></label>
                  <input class="form-control" asp-for="Phone" required placeholder="09xx-xxxx-xxx" type="number" >
                </div>
                <button class="btn btn-success w-100" type="submit"> ارسال پیامک تایید </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All JavaScript Files-->
    <script src="~/mobile2/js/jquery.min.js"></script>
    <script src="~/mobile2/js/bootstrap.bundle.min.js"></script>
    <script src="~/mobile2/js/waypoints.min.js"></script>
    <script src="~/mobile2/js/jquery.easing.min.js"></script>
    <script src="~/mobile2/js/owl.carousel.min.js"></script>
    <script src="~/mobile2/js/jquery.counterup.min.js"></script>
    <script src="~/mobile2/js/jquery.countdown.min.js"></script>
    <script src="~/mobile2/js/default/jquery.passwordstrength.js"></script>
    <script src="~/mobile2/js/wow.min.js"></script>
    <script src="~/mobile2/js/jarallax.min.js"></script>
    <script src="~/mobile2/js/jarallax-video.min.js"></script>
    <script src="~/mobile2/js/default/dark-mode-switch.js"></script>
    <script src="~/mobile2/js/default/active.js"></script>
    <script src="~/mobile2/js/pwa.js"></script>
  
</body>
</html>