<div class="page-content-wrapper py-3">
  <div class="container">
    <h6 class="m-3">تمام صفحات</h6>
    <ul class="page-nav pl-0">
      <li><a href="/mobile/menu/index">خانه<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/menu/profile">پروفایل<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/home/setting">تنظیمات<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/wallet/index">کیف پول<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/wallet/varizi">واریزی های کیف پول<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/wallet/Tarakonesh">برداشتی های کیف پول<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/gabz/Waterbilldebtinquiryg">استعلام قبض آب<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/gabz/Inquiryofelectricitybilldebt">استعلام قبض برق<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/gabz/Inquiryofgasbilldebt">استعلام قبض گاز<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/gabz/Inquiryoftelephonebilldebt">استعلام قبض تلفن ثابت<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/gabz/Inquiryofmobilephonebilldebt">استعلام قبض تلفن همراه<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/Client_Credential/EstelamCarBill">استعلام خلافی خودرو<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/Client_Credential/EstelamNegativePoint">استعلام نمره منفی گواهینامه<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/charge/parametrs">خرید شارژ تلفن همراه<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/internet/selectoperator">خرید بسته اینترنتی تلفن همراه<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/Makanmehvar/Index">خدمات مکان محور<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/omomi/Tatbigh">سامانه شاهکار<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/SmsHoviyat/index">سامانه احراز هویت<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/Tavanam/Factor">سامانه اعتبار سنجی<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/Client_Credential/InputCardNumber">استعلام کارت بانکی<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/Client_Credential/CartToShaba">تبدیل شماره کارت به شماره شبا<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/Client_Credential/EstelamShaba">استعلام شبا<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/SmsTashilat/index">استعلام تسهیلات بانکی<i class="lni lni-chevron-left"></i></a></li>
      <li><a href="/mobile/SmsCheck/index">استعلام چک های برگشتی<i class="lni lni-chevron-left"></i></a></li>
    </ul>
  </div>
</div>