<div class="page-content-wrapper">
  <div class="container">
    <!-- Privacy Policy-->
    <div class="privacy-policy-wrapper py-3">
      <h6>سیاست حفظ حریم خصوصی؟</h6>
      <p>با استفاده یا دسترسی به خدمات به هر روشی ، تصدیق می کنید که شیوه ها و خط مشی های مندرج در این خط مشی رازداری را می پذیرید ، و بدینوسیله رضایت می دهید که ما از طریق روشهای زیر اطلاعات شما را جمع آوری ، استفاده کرده و به اشتراک بگذاریم.</p>
      <h6>چه اطلاعاتی را جمع می کنیم و چرا جمع می کنیم؟؟</h6>
      <p>همانطور که در بیشتر وب سایت ها صادق است ، ما اطلاعات خاصی (مانند ارائه دهنده تلفن همراه ، سیستم عامل و غیره) را بصورت خودکار جمع می کنیم و آن را در پرونده های log ذخیره می کنیم. ما از این اطلاعات استفاده می کنیم ، که کاربران فردی را مشخص نمی کند ، به تجزیه و تحلیل روند ، اداره وب سایت ، پیگیری حرکات کاربران در اطراف وب سایت و جمع آوری اطلاعات جمعیتی در مورد پایگاه کاربر ما به طور کلی. ما ممکن است برخی از این داده های جمع آوری شده به طور خودکار را به برخی از اطلاعات شناسایی شخصی پیوند دهیم.</p>
      <h6>اطلاعات شخصی شخصی؟</h6>
      <p>اگر مشتری باشید ، وقتی از طریق وب سایت ما با ما ثبت نام می کنید ، از شما می خواهیم اطلاعات شناسایی شخصی مانند نام و نام خانوادگی ، نام شرکت ، آدرس ایمیل ، آدرس صورتحساب و اطلاعات کارت اعتباری از شما بخواهیم. شما می توانید با ورود به سیستم و ویرایش چنین اطلاعاتی در داشبورد خود ، این اطلاعات شناسایی شخصی را در نمایه خود مرور و به روز کنید. اگر تصمیم دارید همه اطلاعات خود را حذف کنید ، ممکن است ما حساب شما را لغو کنیم. ما ممکن است یک نسخه بایگانی شده از سوابق شما را طبق قانون یا برای اهداف تجاری مناسب حفظ کنیم.</p>
      <p>به دلیل ماهیت سرویس ، به جز برای کمک به مشتریانی که مشکلات فنی محدودی دارند و یا در غیر این صورت مجبور به اجبار قانونی هستند ، به هیچ یک از مطالبی که شما در این سرویس بارگذاری کرده اید ، دسترسی نخواهیم داشت.</p>
      <p>ممکن است برخی از اطلاعات شخصی با شناسایی شخصی نیز برای واسطه ها و اشخاص ثالث که ما را در ارائه خدمات یاری می کنند ، ارائه شود ، اما چه کسی ممکن است از اطلاعات دیگری به جز کمک به ما در ارائه خدمات استفاده کند. به جز آنچه در این سیاست حفظ حریم خصوصی مقرر شده است ، با این حال ، ما اطلاعات شناسایی شخصی شما را به اشخاص ثالث اجاره نمی دهیم و نمی فروشیم.</p>
      <h6>استفاده از اطلاعات؟</h6>
      <p>در مورد مشتریان ما ، ما از اطلاعات شخصی ما عمدتا برای ارائه خدمات استفاده می کنیم و در مورد فعالیت های حساب ، نسخه های جدید ، و ارائه محصولات یا سایر ارتباطات مرتبط با خدمات ، با مشتریان خود تماس می گیریم. ما هیچ گونه اطلاعات شخصی کاربر نهایی یا دیگر کاربران نهایی را به هیچ شخص ثالثی نمی فروشیم یا به اشتراک نمی گذاریم ، به جز ، البته به مشتری قابل اجرا که وب سایت شما از آن استفاده می کند.</p>
      <p>اگر با ما از طریق ایمیل یا پر کردن فرم ثبت نام با ما تماس بگیرید ، ما ممکن است سوابق اطلاعات تماس و مکاتبات شما را نگه داریم و ممکن است از آدرس ایمیل شما و هر اطلاعاتی که در پیام خود به ما ارائه می دهید استفاده کنیم تا به شما پاسخ دهیم. علاوه بر این ، ما ممکن است از اطلاعات شخصی که در بالا توضیح داده شده استفاده کنیم تا اطلاعات مربوط به سرویس را برای شما ارسال کنیم. اگر هر زمان تصمیم گرفتید که دیگر مایل به دریافت چنین اطلاعاتی یا ارتباطاتی از ما نیستید ، به ما ایمیل بزنید و درخواست کنید که از لیست ما حذف شود. شرایطی که ما ممکن است چنین اطلاعاتی را با اشخاص ثالث به اشتراک بگذاریم ، در زیر "مطابق با روند قانونی" توضیح داده شده است.</p>
      <h6>ذخیره و امنیت اطلاعات؟</h6>
      <p class="mb-0">این شبکه با استفاده از شبکه های داده ایمن محافظت شده توسط فایروال های استاندارد صنعتی و سیستم های محافظت از رمز عبور ، فعالیت می کند. سیاست های امنیتی و حفظ حریم خصوصی ما بطور دوره ای موردنظر و بهبود قرار می گیرد و فقط افراد مجاز به اطلاعات ارائه شده توسط مشتریان ما دسترسی دارند.</p>
    </div>
  </div>
</div>