<div class="page-content-wrapper">
  <div class="container">
    <!-- Support Wrapper-->
    <div class="support-wrapper py-3">
      <h4 class="faq-heading text-center">چگونه می توانیم به شما کمک کنیم؟</h4>
      <!-- Accordian Area Wrapper-->
      <div class="accordian-area-wrapper mt-3">
        <!-- Accordian Card-->
        <div class="card accordian-card clearfix">
          <div class="card-body">
            <h5 class="accordian-title">واحد فنی پشتیبانی</h5>
              <!-- Single Accordian-->
                <p>
                    در صورت بروز هرگونه مشکل ،  با شماره ثابت 
                    <span>
                      02191313040
                    </span>
                    ،
                    واحد فنی پشتیبانی (داخلی 6)
                    تملس حاصل فرمایید .
                </p>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>