 <section id="data-list-view" class="data-list-view-header">
    <div class="justify-content-center row p-5">
        <a class="btn btn-lg btn-success m-5" href="/adminsite/mali/VariziGe">واریزی کیف پول</a>
        <a class="btn btn-lg btn-warning m-5" href="/adminsite/mali/BardashtiGe">برداشتی کیف پول</a>
        <a class="btn btn-lg btn-danger  m-5"  href="/adminsite/mali/HesabManGe">حساب من</a>
    </div>
 </section>