<br>
<br>
<div class="page-content-wrapper">
  <div class="container">
    <!-- Checkout Wrapper-->
    <div class="checkout-wrapper-area py-3">
      <!-- Billing Address-->
      <div class="billing-information-card mb-3">
        <div class="card billing-information-title-card bg-primary">
          <div class="card-body">
            <h6 class="text-center mb-0 text-white"> پرداخت کیف پول </h6>
          </div>
        </div>
        <div class="card user-data-card">
          <div class="card-body">        
                <br>                           
                <p class="alert alert-danger text-center"> خطا در پرداخت</p>
          </div>
            <br>
            <div class="card-footer">
			    <div class="d-flex justify-content-around ">
			    	<a href="/mobile/wallet/index" class="btn btn-warning mt-1 mb-1 col-12 rounded" style="width: min-content;">
			    		بازگشت
			    	</a>
			    </div>
            </div>
        </div>
      </div>
	</div>
  </div>
</div>