<style>
    th
    {
        font-size: 12px;
        font-weight: lighter;
    }
</style>
<div class="page-content-wrapper">
  <div class="container">
    <!-- Checkout Wrapper-->
    <div class="checkout-wrapper-area py-3">
      <!-- Billing Address-->
      <div class="billing-information-card mb-3">
        <div class="card billing-information-title-card bg-primary">
          <div class="card-body">
            <h6 class="text-center mb-0 text-white"> واریزی های کیف پول </h6>
          </div>
        </div>
        <div class="card user-data-card">
          <div class="card-body">  
            <p class="alert alert-dark" style="font-weight: normal;"> جمع کل مبلغ واریزی ها :
                <span id="pay" style="font-size: large;" class="text-info"> @ViewBag.Sum </span> 
                    تومان
            </p>
                <script>
                 document.getElementById("pay").innerText = document.getElementById("pay").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                </script>
            <div class="row">
                <div class="table-responsive">
                    <div class="form-group justify-content-center text-center">
                        <table class="table table-hover table-responsive mt-3">
                            <thead class="bg-info">
                                <tr>
                                    <th class="text-light">ردیف:</th>
                                    <th class="text-light">مبلغ:</th>
                                    <th class="text-light">تاریخ:</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                @if (ViewBag.variz != null)
                                {
                                    int i = 1;
                                    @foreach (var item in ViewBag.variz)
                                    {
                                        <tr>
                                            <th class="text-primary">@i</th>
                                            <th class="text-primary">
                                                @item.Payst تومان
                                                </th>
                                            <th class="text-primary">
                                                @item.DateTime
                                            </th>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
	</div>
  </div>
</div>