<style>
    @@font-face {
        font-family: 'font';
        src: url('./css/Fonts/IRANSansWeb(FaNum) Medium.ttf')
    }
        
    label
    {
        font-family: 'yekan';
        text-align: right;
    }   

    h6
    {
        font-family: 'font';
        font-weight: 900;
    }

    .font {
        font-family: 'font';
    }
    .btn-file {
    	position: relative;
    	overflow: hidden;
	}
	.btn-file input[type=file] {
   		position: absolute;
   		top: 0;
   		right: 0;
   		min-width: 100%;
   		min-height: 100%;
   		font-size: 100px;
   		text-align: right;
   		filter: alpha(opacity=0);
   		opacity: 0;
   		outline: none;
   		background: white;
   		cursor: inherit;
   		display: block;
	}

	#img-upload{
    	width: 100%;
	}
    @@font-face {
        font-family: "yekan";
        src: url(./Fonts/Yekan.woff)format('woff');
    }

    h5 , h6 , p
    {
        font-family: "yekan" !important;
    }
</style>
<!-- page content start -->
<div class="container text-center text-white">
    <div class="row">
        <div class="text-center col col-sm-8 col-md-6 col-lg-5 mb-3">
            <h4 class="text-light">
                درباره نیکاتک
            </h4>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container mb-4">
        <div class="card border-0 mb-3">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-1"> نیکاتک</h5>
                        <p class="small text-secondary">
                            خدمات نیکاتک عبارتند از :
                            <br>
                            1- خدمات بانکداری باز 
                            <br>
                            2-خدمات امور بیمه ای 
                            <br>
                            3- خدمات استعلامی سازمانها و ارگانهای دولتی و خصوصی 
                            <br>
                            4- تلفن های گویا 
                            <br>
                            5-خدمات پرداخت الکترونیک بانکی 
                            <br>
                            و کلیه خدماتی که مردم می توانند بر روی یک اپلیکشن در دسترسی داشته باشند.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="input-group mb-3">
            <h5>آدرس  :</h5> 
            <p>تهران-بلوار میرداماد میدان مادر،خیابان وزیری پور پلاک 21 واحد 2 </p> 
            <p> کد پستی  1546913313</p>
            <h5>شماره تماس همراه :</h5>
            <p>09220648677</p>
            <h5>شماره تماس ثابت اول : </h5>
            <p> 02191313040</p>
        </div>
    </div>
</div>