<style>
    @@font-face {
        font-family: 'font';
        src: url('./css/Fonts/IRANSansWeb(FaNum) Medium.ttf')
    }
        
    label
    {
        font-family: 'yekan';
        text-align: right;
    }   

    h6
    {
        font-family: 'font';
        font-weight: 900;
    }

    .font {
        font-family: 'font';
    }
    .btn-file {
    	position: relative;
    	overflow: hidden;
	}
	.btn-file input[type=file] {
   		position: absolute;
   		top: 0;
   		right: 0;
   		min-width: 100%;
   		min-height: 100%;
   		font-size: 100px;
   		text-align: right;
   		filter: alpha(opacity=0);
   		opacity: 0;
   		outline: none;
   		background: white;
   		cursor: inherit;
   		display: block;
	}

	#img-upload{
    	width: 100%;
	}
    @@font-face {
        font-family: "yekan";
        src: url(./Fonts/Yekan.woff)format('woff');
    }

    h5 , h6 , span
    {
        font-family: "yekan" !important;
    }
    span
    {
        margin: 20px;
    }
</style>
<!-- page content start -->
<div class="container text-center text-white">
    <div class="row">
        <div class="text-center col col-sm-8 col-md-6 col-lg-5 mx-auto">
            <h5>
                جوایز و جشنواره های نیکاتک
            </h5>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container mb-4">
        <div class="card border-0 mb-3">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto pr-0">
                        <div class="avatar avatar-50 border-0 bg-danger-light rounded-circle text-danger">
                            <i class="material-icons vm text-template"> card_giftcard</i>
                        </div>
                        <p class=" text-secondary mt-2">
                            با دعوت از دوستان خود امتیاز دریافت کرده و در جشنواره ها برنده جوایز نیکا تک شوید.
                        </p>
                    </div>
                    <div class="col-auto align-self-center mt-5">
                        <fieldset>
                            <p>
                                امتیاز شما:
                                <span class="text-info">
                                    120
                                </span>
                            </p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>