<div class="friend-list">
    <div class="row">


        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Emdad/searchByChassisNumber" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Emdad/searchByChassisNumber" class="profile-link">استعلام اشتراک ایران خودرو</a></h3>
                        <p class="text-sm mb-0">استعلام اشتراک ایران خودرو </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/EmdadCar/searchByChassisNumber" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/EmdadCar/searchByChassisNumber" class="profile-link">استعلام اشتراک غیر ایران خودرو</a>
                        </h3>
                        <p class="text-sm mb-0">استعلام اشتراک غیر ایران خودرو</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</div>
</div>