@model Admin.Models.vm_Gardesh;
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-1">استعلام نمره منفی گواهینامه</h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<form action="/admin/Client_Credential/EstelamNegativePointResult" method="POST">
					<div class="form-group">
						<h2 class="mb-0">شماره گواهینامه :</h2>
						<input asp-for="From" type="number" class="input-ui pr-2" placeholder="73*****52"  required>
					</div>
					<div>
						<button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> استعلام
						</button>
						<a href="/admin/Enteghal/Index" class="btn btn-success mt-1 mb-1" style="width: min-content;">
							بازگشت
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>