@{ Layout = null ; }
<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>نیکاتک</title>
    <!-- External CSS -->
    <link type="text/css" rel="stylesheet" href="~/login/assets/css/bootstrap-rtl.min.css">
    <link type="text/css" rel="stylesheet" href="~/login/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/login/assets/css/fonts.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/login/login-one/images/fev.png">
    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/login/login-one/css/login-one.css">
</head>
<body>
<!-- Loader -->
<!-- Login page -->
<div class="login_wrapper">
    <div class="container">
        <div class="col-md-12 pad-0" style="opacity: 90%;">
            <di class="row login-box-12">
                <div class="col-lg-2 col-md-12 col-sm-12 px-0">
                    <div class="login_left">
                        <a href="#" class="logo_text">
                            <img src="~/login/login-one/images/Nikatek.png" alt="Simply Easy Learning"> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 ">
                    <div class="login-inner-form">
                        <div class="details">
                            @if ( ViewBag.ex != null )
                            {
                                <p class="">@ViewBag.ex</p>
                            }
                            @if ( ViewBag.ok != null )
                            {
                                <p class="alert alert-success">@ViewBag.ok</p>
                            }
                            @if ( ViewBag.er != null )
                            {
                                <p class="alert alert-danger">@ViewBag.er</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 ">
                    <div class="login-inner-form">
                        <div class="details">
                            <a href="/job/index" class="btn btn-success btn-lg" type="submit"> بازگشت به صفحه اصلی </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- External JS libraries -->
<script src="~/login/assets/js/jquery-2.2.0.min.js"></script>
<script src="~/login/assets/js/popper.min.js"></script>
<script src="~/login/assets/js/bootstrap.min.js"></script>
<!-- Custom JS Script -->
</body>
</html>