<div class="container mb-5  mt-3 box">
    <h5 class="mb-4 bt-color text-center mt-3"> دفترچه آزمون استخدامی بانکداری  </h5>
    <div class= "text-center">
        <p class="text-center">باسمه تعالی
آگهی دعوت به همکاری نیکاتک (برای شغل بانکدار)
شرکت نیکا تک اولین  ارائه دهنده  خدمات بانکی و یکپارچه  هوشمند (بانکداری باز) در دفاتر نمایندگی سراسر کشور با استعانت از خداوند متعال،به منظور تامین نیروی انسانی مورد نیاز خود برای باجه های بانکی نیکاتک  در24 استان کشور برای تصدی شغل بانکدار از داوطلبان بومی مرد و زن واجد شرایط،براساس آئین نامه استخدامی ،از طریق آزمون ، مصاحبه،معاینات پزشکی و..... با انعقاد"قرارداد کار موقت" و "بیمه تامین اجتماعی" دعوت به همکاری می نماید.
</p>
    <div class="row">
        <div class="col-12">
            <img src="/Site/Images/jobs/city/1.jpg" class="img-thumbnail" width="25%" alt="">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <img src="/Site/Images/jobs/city/2.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/3.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/4.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/5.jpg" class="img-thumbnail" alt=""></div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <img src="/Site/Images/jobs/city/6.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/7.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/8.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/9.jpg" class="img-thumbnail" alt=""></div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <img src="/Site/Images/jobs/city/10.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/11.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/12.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/13.jpg" class="img-thumbnail" alt=""></div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <img src="/Site/Images/jobs/city/14.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/15.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/16.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/17.jpg" class="img-thumbnail" alt=""></div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <img src="/Site/Images/jobs/city/18.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/19.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/20.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/21.jpg" class="img-thumbnail" alt=""></div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <img src="/Site/Images/jobs/city/22.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/23.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/24.jpg" class="img-thumbnail" alt=""></div>
        <div class="col-3">
            <img src="/Site/Images/jobs/city/25.jpg" class="img-thumbnail" alt=""></div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <img src="/Site/Images/jobs/city/26.jpg" class="img-thumbnail" width="25%" alt=""></div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="/Site/Images/jobs/city/a.jpg" class="img-thumbnail"  alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="/Site/Images/jobs/city/b.jpg" class="img-thumbnail" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="/Site/Images/jobs/city/c.jpg" class="img-thumbnail"  alt="">
        </div>
    </div>
    <a href="/Job/Pay" class="btn btn-success btn-block mt-2 ">ثبت نام </a>
    </div>
    <br>
</div>