<div class="container mb-5  mt-3 box">
    <h5 class="mb-4 bt-color text-center mt-1"> آزمون استخدامی بانکداری </h5>
    <div class= text-center">
        <img src="~/Site/images/jobs/step_jobs.jpg" alt="" style="width: 100%;text-align: center;">
    </div>
    <br>
    <div class="justify-content-center row mb-5">
        <a class="col-5 mt-2 mb-2 mr-2 ml-2 btn btn-dark btn-lg text-light" href="/Job/Pay">خرید کارت اعتباری</a>
        <a class="col-5 mt-2 mb-2 mr-2 ml-2 btn btn-dark btn-lg text-light" href="/Job/SabtNam">ثبت نام</a>
        <a class="col-5 mt-2 mb-2 mr-2 ml-2 btn btn-dark btn-lg text-light" href="/Job/Peyghiri">پیگیری ثبت نام</a>
        <a class="col-5 mt-2 mb-2 mr-2 ml-2 btn btn-dark btn-lg text-light" href="/Job/doc">دفترچه آزمون</a>
        <a class="col-5 mt-2 mb-5 mr-2 ml-2 btn btn-success btn-lg text-light" href="/Job/azmoon">آزمون</a>
        <a class="col-5 mt-2 mb-5 mr-2 ml-2 btn btn-dark btn-lg text-light" href="/Job/req">ویرایش</a>
    </div>
</div>