@model ViewModels.AdminViewModel.Charge.Vm_Charge;
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> درخواست خرید بسته اینترنتی </h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
        <form action="/Admin/internet/MCI" method="POST">
					<div class="form-group col-3">
						<h2 class="mb-1">   شماره موبایل :</h2>
						<input type="number" class="form-control" placeholder="موبایل" required asp-for="CellNumber">
					</div>
					<div class="form-group col-3">
                      <label for="exampleFormControlSelect1"> انتخاب نوع سیم کارت </label>
                      <select class="form-control" asp-for="ChargeType">
                        <option value="0"> سیم کارت دائمی  </option>
                        <option value="1">سیم کارت اعتباری </option>
                        <option value="2"> TD-LTE اعتباری</option>
                        <option value="3"> سیم کارت دیتا </option>
                        <option value="4"> TD-LTE دائمی </option>
                      </select>
                    </div>
						<button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;">
							استعلام
						</button>
						<a href="/admin/internet/selectoperator" class="btn btn-success mt-1 mb-1" style="width: min-content;">
							بازگشت
						</a>
        </form>
			</div>
		</div>
	</div>
</div>