
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0">انتخاب اپراتور</h2>
	</div>
	<div class="card-body">
			<div class="row">
					<a href="/admin/internet/ParametrsRightel" class="col-3">
                        <img src="~/admin/assets/img/img_bg/R.png" alt="profile-cover" class="img-center" style="width: 55%;">
                    </a>
					<a href="/admin/internet/ParametrsMTN" class="col-3">
                        <img src="~/admin/assets/img/img_bg/MTN.png" alt="profile-cover" class="img-center" style="width: 55%;">
                    </a>
					<a href="/admin/internet/ParametrsMCI" class="col-3">
                        <img src="~/admin/assets/img/img_bg/MCI.png" alt="profile-cover" class="img-center" style="width: 55%;">
                    </a>
					<a href="/admin/internet/ParametrsShatel" class="col-3">
                        <img src="~/admin/assets/img/img_bg/S.png" alt="profile-cover" class="img-center" style="width: 55%;">
                    </a>
			</div>
		
		<a href="/admin/menu/index" class="btn btn-success mt-1 mb-1" style="width: min-content;">
			بازگشت
		</a>
	</div>
</div>