@{
	Layout = "_Layout";
}

<div class="friend-list">
	<div class="row">
		<div class="row ">

			<div class="col-lg-4  col-sm-12">
				<div class="friend-card card shadow">
					<img src="~/admin/assets/img/img_bg/20944036.jpg" alt="profile-cover" class="img-center"
						style="width: 50%;">
					<div class="card-info mt-2">			
						<div class="friend-info mt-2">
							<a href="/Kasabeyar/Shahkar/step1" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
								خدمات</a>
							<h3 class=" mb-0"><a href="/Kasabeyar/Shahkar/step1" class="profile-link"> اعتبارسنجی </a></h3>
							<p class="text-sm mb-0"> سامانه اعتبارسنجی </p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4  col-sm-12">
				<div class="friend-card card shadow">
					<img src="~/admin/assets/img/img_bg/4412.jpg" alt="profile-cover" class="img-center"
						style="width: 36%;">
					<div class="card-info ">			
						<div class="friend-info ">
							<a href="/Kasabeyar/Hoviyat/index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
								خدمات</a>
							<h3 class=" mb-0"><a href="/Kasabeyar/Hoviyat/index" class="profile-link"> احراز هویت </a></h3>
							<p class="text-sm mb-0"> سامانه احراز هویت </p>
						</div>
					</div>
				</div>
			</div>
				
			<div class="col-lg-4  col-sm-12">
				<div class="friend-card card shadow">
					<img src="~/admin/assets/img/img_bg/66149.jpg" alt="profile-cover" class="img-center" 
					style="width: 43%;">
					<div class="card-info mt-2">			
						<div class="friend-info mt-1">
							<a href="/Kasabeyar/Tatbigh/Tatbig" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
								خدمات</a>
							<h3 class=" mb-0"><a href="/Kasabeyar/Tatbigh/Tatbig" class="profile-link"> شاهکار </a></h3>
							<p class="text-sm mb-0"> سامانه شاهکار </p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4  col-sm-12">
				<div class="friend-card card shadow">
					<img src="~/admin/assets/img/img_bg/20946003.jpg" alt="profile-cover" class="img-center"
						style="width: 50%;">
					<div class="card-info mt-2">
						<div class="friend-info">
							<a href="/Kasabeyar/Makan/index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
								خدمات</a>
							<h3 class=" mb-0"><a href="/Kasabeyar/Makan/index" class="profile-link"> مکان محور </a></h3>
							<p class="text-sm mb-0"> خدمات مکان محور </p>
						</div>
					</div>
				</div>
			</div>		

			<div class="col-lg-4  col-sm-12">
				<div class="friend-card card shadow">
					<img src="~/admin/assets/img/img_bg/8233.jpg" alt="profile-cover" class="img-center"
						style="width: 48%;">
					<div class="card-info mt-2">			
						<div class="friend-info mt-2">
							<a href="/Kasabeyar/Tashilat/index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
								خدمات</a>
							<h3 class=" mb-0"><a href="/Kasabeyar/Tashilat/index" class="profile-link"> تسهیلات </a></h3>
							<p class="text-sm mb-0"> استعلام تسهیلات </p>
						</div>
					</div>
				</div>
			</div>	

			<div class="col-lg-4  col-sm-12">
				<div class="friend-card card shadow">
				<img src="~/admin/assets/img/img_bg/Wavy_Bus-23_Single-05.jpg" alt="profile-cover" class="img-center"
					style="width: 32%;">
					<div class="card-info mt-2">			
						<div class="friend-info mt-2">
							<a href="/Kasabeyar/check/index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
								خدمات</a>
							<h3 class=" mb-0"><a href="/Kasabeyar/check/index" class="profile-link"> چک </a></h3>
							<p class="text-sm mb-0"> استعلام چک </p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>