<style>
    a
    {
        font-size: 15px;
    }
</style>

<br>
<br>
<br>
<br>
<div class="page-content-wrapper">
  <div class="container">
      <!-- Accordian Area Wrapper-->
      <div class="accordian-area-wrapper mt-3">
        <!-- Accordian Card-->
        <div class="card accordian-card clearfix">
          <div class="card-body">
            <h6 class="accordian-title"> مکان محور </h6>
            <div class="accordion mt-1" id="accordionExample">
              <!-- Single Accordian-->
                <hr>
              <div class="accordian-header">
                <a href="/mobile/Makanmehvar/Address" class="text-dark">
                    دریافت آدرس براساس کدپستی
                </a>
              </div>
              <hr>
              <div class="accordian-header">
                <a href="/mobile/Makanmehvar/Details" class="text-dark">
                    دریافت جزییات آدرس براساس کدپستی
                </a>
              </div>
              <hr>
              <div class="accordian-header">
                <a href="/mobile/Makanmehvar/Geography" class="text-dark">
                    دریافت مشخصات جغرافیایی براساس کدپستی
                </a>
              </div>
              <hr>
              <!-- Single Accordian-->

            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
</div>
