<br>
<br>
<div class="page-content-wrapper">
  <div class="container">
    <!-- Checkout Wrapper-->
    <div class="checkout-wrapper-area py-3">
      <!-- Billing Address-->
      <div class="billing-information-card mb-3">
        <div class="card billing-information-title-card bg-primary">
          <div class="card-body">
            <h6 class="text-center mb-0 text-white"> انتخاب اپراتور </h6>
          </div>
        </div>
        <div class="card user-data-card">
          <div class="card-body row">  
			<a class="btn btn-danger col-12 mt-3" href="/mobile/internet/ParametrsRightel">
            	رایتل  
            </a>
			<a class="btn btn-warning col-12 mt-3" href="/mobile/internet/ParametrsMTN">
            	ایرانسل   
            </a>
			<a class="btn btn-info col-12 mt-3" href="/mobile/internet/ParametrsMCI">
            	همراه اول   
            </a>
			<a class="btn btn-dark col-12 mt-3" href="/mobile/internet/ParametrsShatel">
            	شاتل   
            </a>
		</div>
		<br>
		<br>
	</div>
</div>