
@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>payment</title>
</head>
<body>
<p>راهنمای استفاده از درگاه پرداخت </p>

</body>
</html>
